<!-- src/app/home/home.component.html -->

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome to Our Grocery Shop</h2>
  
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
          We offer a wide range of high-quality groceries to meet your daily needs.
          Explore our collection of fresh produce, pantry essentials, and more.
          Shop with us for a convenient and delightful grocery experience.
        </p>
      </div>
  
      <div class="col-md-6">
        <img src="assets/img/gs-bg img.png" alt="Grocery Shop Image" class="img-fluid">
      </div>
    </div>
  
    <hr>
  
    <div class="row mt-4">
      <div class="col-md-12">
        <h3 style="text-align: center;">Our Products</h3>


        <hr>
  
        <div class="card-deck">
          <div class="card">
            <img src="assets/img/veges.jpeg" width="50%" height="60%" class="card-img-top" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Fresh Vegetables</h5>
              <p class="card-text">Delicious and nutritious vegetables to keep you healthy.</p>
            </div>
          </div>
  
          <div class="card">
            <img src="assets/img/essentials.jpg" width="50%" height="60%" class="card-img-top" alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Pantry Essentials</h5>
              <p class="card-text">A variety of pantry staples to stock your kitchen.</p>
            </div>
          </div>
  
          <div class="card">
            <img src="assets/img/dairy.jpg"  width="50%" height="60%" class="card-img-top" alt="Product 3">
            <div class="card-body">
              <h5 class="card-title">Dairy Products</h5>
              <p class="card-text">Fresh and high-quality dairy products for your recipes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  